* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

address {
  font-style: normal;
}

h3 {
  font-size: 6em;
  font-weight: 900;
  margin-bottom: 30px;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: 0 auto;
}




header {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 999;
}

header .hd_all {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5%;
  position: relative;
}

header .hd_all hgroup {
  width: 5%;
}

header .hd_all hgroup a {
  width: 100%;
}

header .hd_all hgroup a h1 {
  width: 100%;
}

header .hd_all hgroup a h1 img {
  max-width: 100%;
}

header .hd_all .pc_menu {
  width: 50%;
}

header .hd_all .pc_menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header .hd_all .pc_menu ul li {
  width: 100%;
  text-align: center;
}

header .hd_all .pc_menu ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s;
}

header .hd_all .pc_menu ul li a:hover {
  text-shadow: 0 0 10px #fff;
}

header .hd_all .m_menu_button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

header .hd_all .m_menu_button span {
  display: inline-block;
  width: 30px;
  height: 5px;
  background-color: #fff;
  position: relative;
  transition: 0.5s;
  border-radius: 2px;
}

header .hd_all .m_menu_button span::after,
header .hd_all .m_menu_button span::before {
  content: '';
  display: inline-block;
  width: inherit;
  height: inherit;
  background-color: #fff;
  position: absolute;
  top: -10px;
  transition: 0.5s;
  border-radius: 2px;
}

header .hd_all .m_menu_button span::after {
  top: 10px;
}

header .hd_all .m_menu_button.active span {
  background-color: transparent;
}


header .hd_all .m_menu_button.active span::before {
  top: 0;
  transform: rotate(45deg);
  background: #3AC4A6;
}

header .hd_all .m_menu_button.active span::after {
  top: 0;
  transform: rotate(-45deg);
  background: #3AC4A6;
}

header .hd_all .m_menu {
  position: absolute;
  right: 0;
  top: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
}

header .hd_all .m_menu ul {
  width: 100%;
  height: 100%;
  padding: 15% 0;
  text-align: center;

}

header .hd_all .m_menu ul li {
  width: 100%;
  margin-bottom: 12%;

}

header .hd_all .m_menu ul li:last-child {
  margin-bottom: 0% !important;
}

header .hd_all .m_menu ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.5em;
  position: relative;
  transition: all .6s;
}

header .hd_all .m_menu ul li a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  border-bottom: 1px solid rgba(255, 255, 255, .7);
  width: 50px;
  height: 2px;
}

header .hd_all .m_menu ul li a:hover {
  font-weight: bold;
  font-size: 1.7em;
}




/*home*/

.scroll_bar {
  background-color: rgba(0, 0, 0, .8);
}

#home {
  width: 100vw;
  height: 100vh;
  position: relative;
  color: #fff;
  overflow: hidden;
}

#home .home_wrap {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#home .home_wrap .home_video {
  height: 100vh;
  width: 100vw;
  position: relative;
  left: 0;
  top: 0;
}

#home .home_wrap .home_video video {
  width: 100vw;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: -1;
}

@media screen and (max-aspect-ratio: 1219/685) {
  .main_video video {
    height: 100vh;
  }
}


#home .home_wrap .home_txt1 {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#home .home_wrap .home_txt1 h1 {
  font-size: 6em;
  margin-bottom: 1%;
  transition: all .5s;
}

#home .home_wrap .home_txt1 h4 {
  font-size: 2.2em;
  font-weight: 500;
}

#home .home_wrap .home_txt2 {
  width: 30%;
  position: absolute;
  right: -10%;
  text-align: right;
  top: 80%;
  transform: translate(-50%, -50%);
}

#home .home_wrap .home_txt2 a.home_pp_btn {
  display: inline-block;
  width: 45%;
  padding: 2%;
  border: 1px solid #fff;
  margin-bottom: 3%;
  color: #fff;
  text-decoration: none;
  background: transparent;
  transition: all 0.3s ease;
  position: relative;
}

.btn-1 {
  transition: all 0.3s ease;
  overflow: hidden;
}

.btn-1:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transform: scale(.1);
  transform: scale(.1);
}

.btn-1:hover:after {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: scale(1);
  transform: scale(1);
}

#home .home_wrap .home_txt2 h1 {
  width: 100%;
}

#home .home_wrap .home_txt2 p {
  line-height: 1.5;
}




/*about*/

#about {
  padding: 100px 0;
  background-color: #fff;
}

#about .about_wrap {}

#about .about_wrap h3 {
  color: #A5A5A5 !important;

}

#about .about_wrap h3 span {
  background: -webkit-linear-gradient(45deg, #3AC4A6, #E22E6D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about .about_wrap .about_wrap_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}


#about .about_wrap .about_wrap_content .about_wrap_left p {
  color: #2F2F2F;
  line-height: 1.5;
}


#about .about_wrap .about_wrap_content .about_wrap_right h2 {
  color: #2F2F2F;
  margin-bottom: 6%;
}

#about .about_wrap .about_wrap_content .about_wrap_right h2 span {
  color: #00CDDB;
}


.about_arrow {
  display: block;
  text-align: center;
  animation: arrow_down 1.5s infinite;
  width: 20px;
  margin: 0 auto;
  text-align: center;
}

.scroll-arrow {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  animation: arrow-wave 1s infinite;
  animation-direction: alternate;
}

.scroll-arrow:nth-child(1) {
  animation-delay: 0.1s;
  border-right: 3px solid rgba(77, 165, 162, .2);
  border-bottom: 3px solid rgba(77, 165, 162, .2);
}

.scroll-arrow:nth-child(2) {
  margin-top: -8px;
  animation-delay: 0.2s;
  border-right: 3px solid rgba(77, 165, 162, .5);
  border-bottom: 3px solid rgba(77, 165, 162, .5);
}

.scroll-arrow:nth-child(3) {
  margin-top: -8px;
  animation-delay: 0.3s;
  border-right: 3px solid #4DA5A2;
  border-bottom: 3px solid #4DA5A2;
}

@keyframes arrow-wave {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes arrow_down {
  0% {
    top: 28px;
  }

  50% {
    top: 40px;
  }

  100% {
    top: 28px;
  }
}



/*goToMarket*/


#goToMarket {
  width: 100%;
  padding: 100px 0;
  overflow: hidden;
  position: relative;
}


#goToMarket .market_vid video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: -1;
  -o-filter: blur(3px);
  filter: blur(3px);
  z-index: 1;
}



@media screen and (max-aspect-ratio: 1219/685) {
  .main_video video {
    height: 100vh;
  }
}

#goToMarket .goToMarket_wrap {
  position: relative;
}


.market_content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.market_content .market_cont_left {
  width: 45%;
}

.market_content .market_cont_left img {
  max-width: 100%;
}

.market_content .market_cont_right {
  width: 45%;
  text-align: right;
}

.market_content .market_cont_right h3 {
  color: #00CDDB !important;
  line-height: 1.4;
}

.market_content .market_cont_right p {
  color: #fff;
  line-height: 1.5;
}


/* web */

#web {
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.web_area {
  position: relative;
  padding: 100px 0;
  margin: 0 auto;
}

.web_area h3,
.web_area h5,
.web_area p {
  text-align: right;
}

.web_area h3 {
  color: #dc0047;
  z-index: 2;
}

.web_area h5 {
  font-size: 3rem;
  line-height: 2;
}

.web_area p {
  line-height: 2;
  font-size: 20px;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/* team */
#team {
  position: relative;
  padding: 100px 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
}

#team::after {
  content: '';
  width: 100%;
  height: 30%;
  background: url(../img/team_bg.png) no-repeat center;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 0;
}

#team h3 {
  color: #00CDDB;
  font-size: 4rem;
  text-align: left;
}

#team .team_box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

#team .team_box img {
  width: 100%;
}

#team .team_box .team {
  width: 25%;
  overflow: hidden;
  position: relative;
}

#team .team_box .team span {
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: -25%;
  left: 0;
  background: rgba(0, 33, 40, 0.63);
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}

#team .team_box .team:hover span {
  bottom: 0;
}

#team .team_box .team span dt {
  font-size: 2rem;
  padding-bottom: 10px;
}

#team .team_box .team span dt dd {
  font-size: 1.5rem;
}

/*roadmap*/
#roadmap {
  position: relative;
  overflow: hidden;
}

#roadmap .road_bg {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}

#roadmap .roadmap_area {
  position: relative;
  padding: 100px 0;
  color: #fff;
}

#roadmap h3 {
  font-size: 5rem;
  padding-bottom: 50px;
}

#roadmap ul {
  list-style: disc;
}

#roadmap .roadmap_area .map_box {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  position: relative;
}

#roadmap .roadmap_area .map_box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 2%;
  width: 110%;
  border: 1px dashed #fff;
}

#roadmap .roadmap_area .map_box::before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  top: -15px;
  right: 0%;
  background: url(../img/arrow.png)no-repeat center;
  background-size: contain;
}

#roadmap .roadmap_area .map_box .map {
  width: 30%;
}

#roadmap .roadmap_area .map_box .map h4 {
  position: relative;
  font-size: 2rem;
  display: block;
  width: min-content;
  padding-bottom: 20px;
}

#roadmap .roadmap_area .map_box .map h4::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: -27px;
  transform: translateX(-50%);
  border-radius: 50%;
}

#roadmap .roadmap_area .map_box .map li {
  line-height: 2;
}

/*footer*/
footer {
  background-color: #fff;
  padding: 100px 0;
  text-align: center;
}

footer h3 {
  font-size: 2rem;

}

footer h3 span {
  background: -webkit-linear-gradient(45deg, #3AC4A6, #E22E6D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer .sns_area {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .sns_area i {
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  border-radius: 50%;
  background: linear-gradient(45deg, #3AC4A6 14.21%, #E22E6D 84.93%);
  transition: all .5s;
}

footer .sns_area a {
  margin-right: 30px;
  transition: all .5s;
}

footer .sns_area a:last-child {
  margin-right: 0;
}

footer .sns_area a:hover i {
  margin-top: -1px;
  background: linear-gradient(-135deg, #3AC4A6 14.21%, #E22E6D 84.93%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}